.about {
  height: 375px;
  @media (max-width: 320px) {
    height: 660px;
  }
}

.swiper-slide {
  width: 100%;
  height: 335px;

  &:nth-child(2n) {
    .slider__wrap {
      background-color: $deep_blue;
    }
  }
}
.slider__wrap {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(1, 100%);
  align-content: baseline;
  background-color: rgba(92, 50, 73, 1);
  margin-bottom: 50px;
  @media (max-width: 320px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 310px);
  }
}

.slider__img {
  width: 100%;
  height: 335px;
  overflow: hidden;

  & img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.slider__content__wrap {
  width: 100%;
  height: 100%;
}
.slider__content__text {
  width: 70%;
  font-family: "Cardo";
  font-weight: 400;
  font-size: $_24px;
  text-transform: capitalize;
  color: $white;
  text-align: center;
  margin: 90px auto 20px;
  @media (max-width: 767px) {
    margin: 70px auto 20px;
  }
  @media (max-width: 566px) {
    font-size: 20px;
  }
}
.slider__content__author {
  font-weight: 700;
  font-size: $_13px;
  color: $white;
  text-align: center;
  margin: auto;
  @media (max-width: 566px) {
    font-size: 12px;
  }
}

.item-pagination {
  background-color: $white;
}

.swiper-pagination-bullet {
  border: 1px solid $purple;
  background: $white !important;
}

.swiper-pagination-bullet-active {
  background: $purple !important;
}

.swiper-button-next::after {
  color: $white;
}

.swiper-button-prev::after {
  color: $white;
}

.item-pagination-bullet:focus {
  background-color: $purple;
}
